.task {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.bottomWrapper{
    display: flex;
    justify-content: space-between;
}

.status{
    font-size: 10px;
    background-color: var(--COLOR-GRAY);
    padding: 5px;
    border-radius: 5px;
}

.PLANNED{
color: white;
}

.ONGOING{
color: var(--COLOR-ONGOING);
}

.DONE{
    color: var(--COLOR-DONE);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
